<div
  id="elemento"
  class="alert alert-warning alert-dismissible fade show"
  role="alert"
>
  <strong id="elemento">Holy guacamole!</strong>You should check in on some of
  those fields below.
  <button
    type="button"
    id="ocultar"
    class="close"
    data-dismiss="alert"
    aria-label="Close"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<hr / style="color: black;" class="my-5">

<button id="boton1" class="btn btn-danger">Boton1</button>

<div class="container" id="collapse">
  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
  richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes
  anderson cred nesciunt sapiente ea proident. Lorem, ipsum dolor sit amet
  consectetur adipisicing elit. At accusamus architecto dolorum, expedita nihil
  unde accusantium dolorem dolore itaque repudiandae necessitatibus. Earum neque
  fugiat rerum, maxime perspiciatis veritatis vitae repellendus! Lorem ipsum
  dolor, sit amet consectetur adipisicing elit. Quidem tempora, quam facilis
  quibusdam cum in optio voluptatem? Recusandae quidem cum explicabo aliquam,
  earum autem et aliquid molestiae assumenda sunt a.
</div>

<hr / style="color: black;" class="my-5">

<div class="container-fluid" id="accordionExample">
  <div class="container">
    <button class="btn btn-link">titulo1</button>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae
      quisquam veritatis recusandae! Inventore dolores dicta nisi placeat
      voluptatum odit minus a optio distinctio pariatur, facere, quas
      perspiciatis temporibus ducimus nesciunt. Lorem ipsum dolor sit, amet
      consectetur adipisicing elit. Aspernatur, excepturi cupiditate aperiam
      consequuntur saepe omnis voluptatem quo magnam nostrum, eos optio
      accusantium voluptates molestias facere doloremque commodi labore numquam
      aliquam.
    </p>
  </div>
  <div class="container">
    <button class="btn btn-link">titulo2</button>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae
      quisquam veritatis recusandae! Inventore dolores dicta nisi placeat
      voluptatum odit minus a optio distinctio pariatur, facere, quas
      perspiciatis temporibus ducimus nesciunt. Lorem ipsum dolor sit, amet
      consectetur adipisicing elit. Aspernatur, excepturi cupiditate aperiam
      consequuntur saepe omnis voluptatem quo magnam nostrum, eos optio
      accusantium voluptates molestias facere doloremque commodi labore numquam
      aliquam.
    </p>
  </div>
  <div class="container">
    <button class="btn btn-link">titulo3</button>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae
      quisquam veritatis recusandae! Inventore dolores dicta nisi placeat
      voluptatum odit minus a optio distinctio pariatur, facere, quas
      perspiciatis temporibus ducimus nesciunt. Lorem ipsum dolor sit, amet
      consectetur adipisicing elit. Aspernatur, excepturi cupiditate aperiam
      consequuntur saepe omnis voluptatem quo magnam nostrum, eos optio
      accusantium voluptates molestias facere doloremque commodi labore numquam
      aliquam.
    </p>
  </div>
  <div class="container">
    <button class="btn btn-link">titulo4</button>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae
      quisquam veritatis recusandae! Inventore dolores dicta nisi placeat
      voluptatum odit minus a optio distinctio pariatur, facere, quas
      perspiciatis temporibus ducimus nesciunt. Lorem ipsum dolor sit, amet
      consectetur adipisicing elit. Aspernatur, excepturi cupiditate aperiam
      consequuntur saepe omnis voluptatem quo magnam nostrum, eos optio
      accusantium voluptates molestias facere doloremque commodi labore numquam
      aliquam.
    </p>
  </div>
</div>
